body{
    background: linear-gradient(rgb(205, 227, 247), white);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.dotted{
    text-decoration: none;
    border-bottom: 1px dashed black;
}

pre{
    background-color: rgb(215, 215, 215);
    width: 300px;
}

.uml{
    color:orangered;
}

.back{
    color: rgb(95, 132, 220);
    background-color: rgb(215, 215, 215);
}

.changeColor {
    color: orangered;  
    background-color: lightgrey;
    
}
