body{
    display: flex;
    background-image: url(IMG/ЮУРГУ.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, white, rgb(43, 146, 198, 0.5));
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
}

#logo img{
    width: 75px;
    border-radius: 15px;
}

#logo{
    display: flex;
    gap: 20px;
}

#logo img:hover{
    box-shadow: 5px -5px 20px rgb(203, 52, 52);
    cursor: pointer;
}

.horizont-line{
    border-left: 2px solid gray;
}

.content_header{
    margin-left: 40px;
    display: flex;
    gap: 20px;
}