.h_center{
    text-align: center;
}

.right_head{
    text-align: right;
}

div{
    color: (black, rgb(212, 212, 212));
}

.equations{
    background-color: pink;
    text-align: center;
    width: 170px;
    margin-left: 40%;
    
}