body{
    background: linear-gradient(rgb(247, 199, 247), rgb(215, 215, 215))
}

.up_case{
    color: rgb(27, 111, 207);
}

.text_right{
    text-align: right;
}

.heading{
    text-align: center;
}

.txt{
    color: transparent;
    background-clip: text; 
    background-image: linear-gradient(to bottom, black, rgb(215, 215, 215));
}

.equations{
    text-align: center;
    background-color: pink;
    width: 130px;
    margin-left: 43%;
}

.symbols_red{
    color: red;
}